header {
    position: relative;
    font-size: 300%;
    top: 17px;
    left: 470px;
    right: 500px;

    border: solid red white 2px;
    border-radius: 20px;
    border-style: dashed; 
    box-shadow: 5px 5px 30px black;
  
    width: 500px;  
    text-align: center;
    height: 70px;
    color: white;
    text-shadow: 3px 3px 100px whitesmoke;

    background-image: linear-gradient(90deg, red, pink, red);

}

#kalender {
    position: absolute;
    background-image: url(kalender.jpg);
    background-size: cover;
    background-position: center;
    width: 900px; 
    height: 600px;
    top: 120px;
    left: 270px;
    border: solid 3px black;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}


body {
    background-image: url(snowyy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.luke {
    border: solid 1.5px white;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: red;
    text-shadow: 1px 1px 1px white;
    border-radius: 10px;
}

#vis {
    width: 100px;
    height: 100px;
    border: solid red;
    display: none;
    position: absolute;
    top: 10em;
    left: 10em;
}

.kropp {
    position: relative;
    width: 64px;
    height: 45px;
    left: 10px;
    border: solid grey;
    border-radius: 3px;
    background-color: gold;
}

.kropp::before {
    position: absolute;
    content: "";
    display: block;
    width: 45px;
    height: calc(60px - 40px);
    border: solid goldenrod 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: none;
    top: -25px;
    left: 5px;
}

.kropp::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    background-color: grey;
    border-radius: 3px;
    top: 15px;
    left: 27px;
}



@function cross($back, $main, $detail: $back){
  @return linear-gradient(90deg, transparent 28%, $main 28%, $main 34%, transparent 34%),
    linear-gradient(transparent 42%, $detail 42%, $detail 46%, $main 46%, $main 58%, $detail 58%, $detail 62%, transparent 62%),
    linear-gradient(90deg, $back 25%, $detail 25%, $detail 28%, $main 28%, $main 34%, $detail 34%, $detail 37%, $back 37%);
}

.flag {
    @extend %flag;
    background: cross(red, blue, white);
}







html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;

}


::-webkit-scrollbar { 
    display: none; 
}




.snowflake {
    position: absolute;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );

    background-image: -moz-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
);

    background-image: -ms-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
);
    background-image: radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
);
}

#snow {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}   
