#varer {
    display: flex;
    position: relative;
    margin-top: 10px;
    flex: wrap;
    border: solid black 2px;
    height: 400px;
}


style {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: aqua;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: lime;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 750px) {
  [class*="col-"] {
    width: 100%;
  }
}

body {
    background-image: url("../bilder/snowmountain.png");
    background-size: cover;
}

.varer1 {
    background-image: url(../bilder/Arto.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer2 {
    background-image: url(../bilder/Orb.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer3 {
    background-image: url(../bilder/Vertis.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer4 {
    background-image: url(../bilder/navis.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer5 {
    background-image: url(../bilder/atris.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

db-form {
    background-color: whitesmoke;
    opacity: 0.9;
}