#varer {
    display: flex;
    flex: wrap;
    border: solid black 2px;
    height: 400px;
}

body {
    background-image: url("../bilder/snowmountain.png");
    background-size: cover;
}

.varer1 {
    background-image: url(../bilder/Arto.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer2 {
    background-image: url(../bilder/Orb.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer3 {
    background-image: url(../bilder/Vertis.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer4 {
    background-image: url(../bilder/navis.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}

.varer5 {
    background-image: url(../bilder/atris.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 250px;
    border: solid black 2px;
    margin: 20px;
}



.homebar {
  overflow: hidden;
  background-color: #333;
}

.homebar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.homebar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>

<div class="homebar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
  